@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
/* **** Variables for ui Portfolio **** */
:root {
  /* ** Colors ** */
  /* --background: #0d1117;
  --text-color: #e6edf3;
  --primary-color: #00bfa3;
  --second-color: #1f6feb; */
  --text-color: #174d37;

  /* **** Fonts **** */
  --font-family: "IBM Plex Sans", sans-serif;
  --conde-font: "JetBrains Mono", monospace;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0.5rem;
}

header
h2{
  font-family: var(--font-family);
  color: var(--text-color);
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container
table{
  width: 90%;
  border-collapse: collapse;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.container
table
thead.headTable{
  background-color: var(--text-color);
  color: wheat;
  text-align: center;
}

.container
table
thead
th, td{
  border: 1px solid wheat;
  padding: 0.5rem 1rem;
}

.container
table
tbody
th {
  background-color: #f2f2f2;
}

.container
table
tbody
th
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.low-stock {
  background-color: #ffdddd;
}
.out-of-stock {
  background-color: #ffb3b3;
  color: #ff0000;
}